.contact {
  background: linear-gradient(to bottom, rgba(223, 230, 236, 0.3) 0, rgba(223, 230, 236, 0.3) 50%, var(--secondary) 50%);
}

.container {
  height: 100%;
  position: relative;
  max-width: 1232px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.container section {
  height: 100%;
  flex: 1 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  gap: 3rem;
  align-items: center;

  padding: 7rem;

  background: var(--white);
  box-shadow: 10px 5px 40px rgba(0, 88, 123, 0.05);
  border-radius: 30px;

  z-index: 2;
}

.contactInfo h2 {
  margin: 2rem 0;
}

.contactInfo p {
  margin: 2rem 0;
}

.contactLinkContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.icon {
  background: var(--primary);
  box-shadow: 0px 5px 19px rgba(10, 147, 201, 0.25);
  border-radius: 8px;

  min-width: 39px;
  min-height: 39px;
  max-width: 39px;
  max-height: 39px;
  margin-right: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contactLink {
  display: flex;
  flex-direction: column;
}

.contactLink span {
  font-size: 14px;
  color: rgba(21, 47, 57, 0.7);
  margin-bottom: 0.4rem;
}

.contactLink a {
  color: var(--secondary);
  font-family: "Roboto", sans-serif;

  transition: all 0.3s ease;
}

.contactLink a:hover {
  color: var(--terciary);
}

.container>section>div:last-child {
  border: 1px solid #BECDDA;
  border-radius: 18px;

  height: 100%;

  padding: 2rem;
}

.formInput {
  margin-bottom: 1rem;
}

.formInput label {
  font-family: "Raleway", sans-serif;

}

.formInput input,
.formInput textarea {
  font-family: "Raleway Regular", sans-serif;
  font-size: 16px;
  background: rgba(223, 230, 236, 0.3);
  width: 100%;
  padding: 0.7rem 1rem;

  border: 1px solid var(--white);
  border-radius: 8px;
  margin-top: 1rem;
  opacity: 0.7;

  transition: all 0.5s ease;
}

.formInput input:focus,
.formInput textarea:focus {
  background: var(--white);
  border: 1px solid #BECDDA;
  outline: 0;
  box-shadow: 0 12px 24px rgb(0 0 0 / 10%);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.sendButton {
  background: var(--primary);
  color: var(--white);
  box-shadow: 0px 5px 19px rgba(10, 147, 201, 0.25);
  border-radius: 8px;

  padding: 1rem;
  font-family: "Roboto Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  cursor: pointer;

  white-space: nowrap;
}

.sendButton:hover {
  background: var(--terciary);
}

.error {
  color: #ff5555;
  margin-top: 0.5rem;
}


@media (max-width: 900px) {
  .container section {
    padding: 3rem;
  }
}

@media (max-width: 800px) {
  .container section {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 1.5rem;
  }

  .container section {
    padding: 2rem;
  }
}

@media (max-width: 360px) {
  .container section {
    padding: 2rem 1rem;
  }

  .container>section>div:last-child {
    padding: 1rem;
  }

  .contactLink a {
    font-size: 14px;
    line-break: anywhere;
  }
  
}
  