.footer {
  background: var(--secondary);
}

.container {
  position: relative;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 2.5rem 0 2.5rem;

  display: flex;
  flex-direction: column;

  z-index: 2;
}

.container section {
  flex: 1 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  gap: 2rem;
  align-content: center;
  justify-content: center;
  justify-items: center;

  z-index: 2;

  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(223, 230, 236, 0.1);
}

.footerContact>img {
  margin-bottom: 2rem;
}

.footerContact>div {
  display: flex;
  margin-bottom: 1rem;
}

.footerContact>div>div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.footerContact>div>a {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease;
}

.footerContact>div>a:hover {
  color: var(--terciary);
}

.footerLinks h3,
.footerSocial h3{
  color: var(--white);
  font-size: 16px;
}

.footerLinks>div{
  flex: 1 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem 3rem;

  align-content: center;
  align-items: center;
}

.footerLinks>div>a {
  color: rgba(126, 154, 180, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  transition: all 0.3s ease;
}

.footerLinks>div>a:hover {
  color: var(--textAlt);
}

.footerSocial>div {
  display: flex;
}

.footerSocial>div>a {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--primary);
  font-family: "Raleway", sans-serif;
  font-size: 16px;

  border: 1px solid var(--primary);
  border-radius: 50%;
  margin-right: 1rem;

  transition: all 0.3s ease;
}

.footerSocial>div>a:hover {
  border: 1px solid var(--terciary);
  color: var(--terciary);
}

.container span {
  margin: 1rem auto;
  font-family: "Roboto", sans-serif;
  color: rgba(126, 154, 180, 0.7);
}

.element {
  position: absolute;
  opacity: 0.3;
  z-index: 1;
}

.elementOne {
  left: -8%;
  top: 30%;
}

.elementTwo {
  right: -10%;
  bottom: 20%;
}

.whatsappButton{
  position: fixed;
  z-index: 2147483003;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 1.5rem;
  }

  .container section {
    grid-template-columns: 1fr;
    justify-items: unset
  }

  .element {
    display: none;
  }

  
}