.navbar {
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 2rem 2.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Roboto", sans-serif;
  color: var(--textAlt);
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation li {
  margin-right: 2rem;
  transition: all 0.3s ease;
  position: relative;
}

.navigation li:hover::after {
  content: '';
  display: block;
  position: absolute;
  margin-top: 3px;
  
  width: 100%;
  height: 3px;
  background: var(--terciary);
}

.navigation li:hover,
.navigation li:active {
  color: var(--secondary);
}

.loginButton {
  display: flex;
  gap: 0.5rem;

  background: var(--primary);
  color: var(--white);
  padding: 0.7rem 1rem;

  box-shadow: 0px 5px 19px rgba(10, 147, 201, 0.25);
  border-radius: 8px;

  transition: all 0.3s ease;
}

.loginButton:hover {
  background: var(--secondary);
}

.burger {
  display: none;
  cursor: pointer;

  background: none;
  border: none;
  outline: none;

  font-size: 1.5rem;
  color: var(--veniti);
}

.burger div {
  width: 25px;
  height: 3px;
  background: var(--primary);
  margin: 5px;
  transition: all 0.3s ease;
  z-index: 9999;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  background: var(--white);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  background: var(--white);
}

@media (max-width: 1366px) {
  .navbar {
    max-width: 900px;
  }
}

@media (max-width: 1024px) {
  .navigation {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .navbar {
    padding: 2rem 2.5rem 1rem;
  }

  .navigation>li {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 1rem;

    width: 100%;
    max-width: 100%;
  }

  .navigation {
    position: fixed;
    z-index: 999;
    top: 0;
    right: -100%;

    height: 100vh;
    margin: 0;
    background: var(--primary);

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 250px;

    transition: all 0.5s ease;
  }

  .navigation li {
    margin-right: 0;
    margin-bottom: 2rem;
    padding-bottom: 0.3rem ;
    font-size: 1.5rem;
    font-family: "Raleway Regular", sans-serif;
    color: var(--white);

    border-bottom: 1px solid var(--terciary);
    text-align: center;
  }

  .navigation li:hover {
    color: var(--terciary);
  }

  .navigation li:hover::after {
    display: none;
  }

  .loginButton {
    display: none;
  }

  .burger {
    display: block;
    z-index: 9999;
  }
}

.nav_active {
  right: 0;
}