.overlay::-webkit-scrollbar {
  width: 0px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 9999;
  overflow-y: auto;


  /* 
  Se der algum problema no tamanho
  do container,comentar o CSS abaixo 
  */

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: var(--white);
  width: 100%;
  max-width: 1000px;
  margin: 3rem auto;
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  -webkit-animation: scale-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation: scale-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.closeButton {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  background: none;
  border: 0;
  font-size: 0;
}

.closeButton img {
  filter: invert(56%) sepia(21%) saturate(275%) hue-rotate(152deg) brightness(93%) contrast(85%);

  transition: all 0.3s ease;
}

.closeButton img:hover {
  filter: none;
}

.container section {
  height: 100%;
  flex: 1 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  gap: 4rem;
  align-content: center;
  align-items: center;
}

.modalTrialInfo {
  text-align: center;
}

.modalTrialInfo img {
  width: 100%;
  margin: 1rem 0 2rem;
}

.modalTrialInfo h2 {
  font-size: 40px;
  margin-bottom: 1rem;
}

.modalTrialInfo p {
  color: var(--textAlt);
}

.container>section>div:last-child {
  border: 1px solid #BECDDA;
  border-radius: 18px;

  height: 100%;

  padding: 2rem;
}

.formInput {
  margin-bottom: 1rem;
}

.formInput label {
  font-family: "Raleway", sans-serif;

}

.formInput input,
.formInput textarea {
  font-family: "Raleway Regular", sans-serif;
  font-size: 16px;
  background: rgba(223, 230, 236, 0.3);
  color: var(--secondary);
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--white);
  border-radius: 8px;
  margin-top: 1rem;

  transition: all 0.5s ease;
}

.formInput input:focus,
.formInput textarea:focus {
  background: var(--white);
  border: 1px solid #BECDDA;
  outline: none;
  box-shadow: 0 12px 24px rgb(0 0 0 / 10%);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.sendButton {
  background: var(--primary);
  color: var(--white);
  box-shadow: 0px 5px 19px rgba(10, 147, 201, 0.25);
  border-radius: 8px;

  padding: 1rem 2rem;
  font-family: "Roboto Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  cursor: pointer;

  white-space: nowrap;
}

.sendButton:hover {
  background: var(--terciary);
}

.error {
  color: #ff5555;
  margin-top: 0.5rem;
}

@keyframes scale-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 1366px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 1000px) {
  .overlay {
    display: block;
  }

  .container {
    width: 90%;
    min-height: auto;
    padding: 2rem 1rem;
  }

  .container section {
    grid-template-columns: 1fr;
  }
}