.customer {
  background: var(--secondary);
}

.container {
  position: relative;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 2.5rem;

  display: flex;
  flex-direction: column;
}

.container div {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;

  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center
}

.container div img:last-child {
  width: calc(100% + 3rem);
  margin-left: -1.5rem;
}

.container div img:first-child {
  width: 3.5rem;
  margin-bottom: 5px;
}

.container div img {
  width: 8rem;
  opacity: 0.3;
  transition: all 0.3s ease;
}

.container div img:hover {
  opacity: 1;
}

.element {
  position: absolute;
  z-index: 1;
  left: -10%;
  opacity: 0.3;
}

@media (max-width: 1366px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 1.5rem;
  }

  .container div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .container div img {
    width: 100%;
  }

  .container div img:first-child {
    width: calc(100% - 2rem)
  }

  .element {
    display: none;
  }
}