.container {
  position: relative;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 2.5rem 5rem 2.5rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  gap: 2rem;
  align-content: center;
}

.element {
  position: absolute;
}

.elementOne {
  right: -5%;
  top: 50%;
}

.elementTwo {
  left: -5%;
}

.elementThree {
  bottom: 20%;
  left: -5%;
}

@media (max-width: 1366px) {
  .container section {
    grid-gap: 0;
    gap: 0;
  }
}

@media (max-width: 1000px) {
  .container section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 1.5rem;
    overflow-x: hidden;
  }

  .container section {
    overflow-x: scroll;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    gap: 1rem;
  }

  .element {
    display: none;
  }
}