.home {
  background: linear-gradient(to bottom, var(--white) 0, var(--white) 60%, var(--secondary) 40%);
}

.container {
  position: relative;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem 2.5rem;

  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

.hero h1 {
  text-align: center;
  margin: 2rem 0;
}

.hero p {
  width: 47%;
  text-align: center;
  margin-bottom: 3rem;
}

.containerButton {
  display: flex;
  margin-bottom: 5rem;
}

.primaryButton,
.secondaryButton {
  padding: 1rem;
  font-family: "Roboto Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.primaryButton {
  background: var(--primary);
  color: var(--white);
  box-shadow: 0px 5px 19px rgba(10, 147, 201, 0.25);
  border-radius: 8px;

  margin-right: 1rem;
}

.primaryButton:hover {
  background: var(--terciary);
}

.secondaryButton {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 8px;
}

.secondaryButton:hover {
  background: var(--primary);
  color: var(--white);
}

.social {
  position: absolute;
  left: -5%;
  top: 10%;
  display: flex;
  flex-direction: column;

  font-family: "Roboto Bold", sans-serif;
  color: var(--primary);
  font-size: 16px;
}

.social a {
  margin-bottom: 2rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social a:hover {
  transform: scale(1.1);
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.imageDesktop {
  width: 100%;
}

.imageMobile {
  max-width: 15rem;
  position: absolute;
  top: -5%;
  right: -5%;
}

.imagePopContainer {
  width: 10rem;

  position: absolute;
  bottom: 5%;
  left: -5%;
}

.imagePopContainer>div {
  display: flex;
}

.element {
  position: absolute;
  z-index: 1;
}

.elementOne {
  top: 20%;
}

.elementTwo {
  top: 20%;
  right: -10%;
}

.elementThree {
  top: 5%;
  left: 15%;
}

.elementFour {
  top: 10%;
  left: 65%;
}

.elementFive {
  top: 25%;
  right: 10%;
}

@media (max-width: 1366px) {
  .container {
    max-width: 900px;
  }

  .hero p {
    width: 59%;
  }

  .social {
    left: -5%;
    top: 5%;
  }

  .imageMobile img {
    max-width: 12rem;
  }
  
  .imagePopContainer img {
    width: 10rem;
  }
}

@media (max-width: 1000px) {
  .social {
    display: none;
  }
}

@media (max-width: 768px) {
  .home {
    background: linear-gradient(to bottom, var(--white) 0, var(--white) 80%, var(--secondary) 20%);
  }

  .container {
    padding: 2rem 1.5rem;
  }

  .hero h1 {
    font-size: 35px;
    line-height: unset;
    margin-top: 0;
  }

  .hero p {
    width: 72%;
  }

  .imageMobile,
  .imagePopContainer {
    display: none;
  }

  .element {
    width: 3rem;
  }
}