.overlay {
  background: rgba(242, 243, 245, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 9999;
  overflow-y: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  animation-name: opacity;
  animation-duration: 1.5s;
}

@keyframes opacity {
  from {
    opacity: 0;
    transition: .3s;
  }
  to {
    opacity: 1;
  }
}

.closeButton {
  position: absolute;
  right: -15%;
  top: -5%;
  background: none;
  border: 0;
  font-size: 0;

  background: var(--primary);
  padding: 1rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
}

.closeButton:hover {
  background: var(--secondary);
}

.phone {
  position: relative;
  height: 80vh;
  width: 400px;
  border-radius: 3em;
  background: #292c2d;
  box-shadow: 0 0.1em 0.4em rgba(255, 255, 255, 0.1) inset;

  padding: 0.6rem 0.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  animation-name: translate;
  animation-duration: 1.5s;
}

@keyframes translate {
  from {
    opacity: 0;
    transition: .3s;
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  background-color: #191b1c;
  margin: 0.4em;
  border-radius: 2.5rem;
  border: solid 0.2em #121415;
  position: relative;

  z-index: 999;
}

.lineUp{
	background: linear-gradient(to right, #515455, #454748, #515455);
	position: absolute;
	z-index: 8;
	width: 100%;
	height: 0.5em;
	top: 10%
}

.lineDown{
	top: 90%
}

.notch {
  position: absolute;
  width: 50%;
  background-color: #191b1c;
  height: 1.8em;
  border-radius: 0 0 0.9em 0.9em;
  right: 25%;
  top: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.3em;
  box-sizing: border-box;
  margin-top: 0.5em;
  z-index: 999;
}

.app {
  border-radius: 2.4rem;
  height: 100%;
  width: 100%;
  background: #e3f0f5;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  font-family: "Gotham Light", sans-serif;
  letter-spacing: 0.8px;
}

.appHeader {
  width: 100%;
  height: 8rem;
  background: var(--secondary);

  border-top-left-radius: 2.2rem;
  border-top-right-radius: 2.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0;
}

.user {
  display: flex;
  align-items: center;
}

.userIcon img {
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  
}

.userInfo p {
  color: var(--white);
  margin-bottom: 2px;
}

.userInfo p span {
  color: var(--white);
  font-family: "Gotham", sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.userInfo>span:last-child {
  color: var(--primary);
}

.appNavbar {
  width: 100%;
  height: 7rem;
  background: var(--white);

  border-bottom-left-radius: 2.2rem;
  border-bottom-right-radius: 2.2rem;

  box-shadow: 0px -8px 16px -5px rgba(0,0,0,0.3);

  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.appNavbar img {
  width: 2rem;
  filter: invert(56%) sepia(21%) saturate(275%) hue-rotate(152deg) brightness(93%) contrast(85%);

  cursor: pointer;
  transition: all 0.3s ease;
}

.appNavbar img:first-child {
  width: 2.5rem;
  filter: none;
}

.appNavbar img:hover {
  filter: none;
}

.appBody {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;

  padding: 1rem 2rem;
}

.appBody::-webkit-scrollbar { 
  display: none;
}

.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary);

  margin-bottom: 2rem;
}

.hello>span:first-child {
  font-family: "Gotham Bold", sans-serif;
  color: var(--primary);
  font-size: 30px;

  margin-bottom: 10px;
}

.hello>span:last-child {
  font-size: 18px;
}

.newService {
  background: linear-gradient(to right, #0a93c9, #0780b0);
  box-shadow: 0px 5px 19px rgba(10, 147, 201, 0.55);
  color: var(--white);

  padding: 1rem 1.5rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  font-family: "Gotham Light", sans-serif;

  transition: all 0.5s ease-in-out;
}

.newService:hover {
  transform: scale(1.05);
}

.serviceInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.serviceInfo span:first-child {
  font-weight: 600;
  font-size: 22px;
  font-family: "Gotham", sans-serif;
}

.serviceType>div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.serviceType>div img {
  width: 1rem;
  margin-right: 5px;
}

.serviceType>div:last-child>img:last-child {
  width: 2rem;
  margin-left: auto;
}

.buttonAcceptService {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 2rem;
}

.buttonAcceptService button {
  width: 100%;  
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 10px 5px 40px rgb(0 88 123 / 20%);

  transition: all 0.3s ease;
}

.buttonAcceptService button:first-child {
  background: var(--white);
  margin: 1rem 0.5rem 1rem 0;
}

.buttonAcceptService button:first-child:hover {
  background: #d2d2d2;
}

.buttonAcceptService button:last-child:hover {
  background: #68aeca;
}

.buttonAcceptService button:last-child {
  background: #788c94;
  color: var(--white);
  margin: 1rem 0 1rem 0.5rem;
}

.oldService {
  background: var(--white);
  box-shadow: 10px 5px 40px rgb(0 88 123 / 20%);
  color: #788c94;

  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  font-family: "Gotham Light", sans-serif;

  position: relative;

  transition: all 0.5s ease-in-out;
}

.oldService:hover {
  transform: scale(1.05);
}

.active::before {
  content: '';
  width: 15px;
  height: 15px;
  background: #45ff7e;
  border-radius: 50%;
  border: 4px solid var(--white);

  position: absolute;
  top: -2%;
  left: -2%;
}

.canceled::before {
  content: '';
  width: 15px;
  height: 15px;
  background: #ff4545;
  border-radius: 50%;
  border: 4px solid var(--white);

  position: absolute;
  top: -2%;
  left: -2%;
}

.serviceInfoAlt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  color: var(--primary);
}

.serviceInfoAlt span:first-child {
  font-weight: 600;
  font-size: 22px;
  font-family: "Gotham", sans-serif;
}

.serviceStatus {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.dotOne {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  margin-right: 5px;

  background: #ff9a3c;
}

.dotTwo {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  margin-right: 5px;

  background: #ff9a3c;
}

.dotThree {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  margin-right: 5px;

  background: #ff9a3c;
}

.dotFour {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  background: var(--white);
}

.plateValidation {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 2rem;
}

.plateValidation input {
  width: 100%;
  height: 3rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  outline: none;
  border: none;
  text-align: center;

  font-family: "Gotham";
  font-size: 18px;
}

.plateValidation button {
  background: var(--white);
  height: 3rem;
  width: 4rem;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  border: none;
  text-align: center;

  font-family: "Gotham";
  font-size: 18px;
}

.plateValidation button img {
  width: 20px;
}

.afterValidate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.afterValidate button {
  background: gray;
  color: var(--white);
  padding: 1rem;
  border-radius: 10px;

  font-family: "Gotham", sans-serif;
  font-size: 16px;

  transition: background 0.3s ease;
}

.afterValidate button:hover {
  background: rgb(104, 104, 104);
}

.mobileButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: var(--white);

  font-weight: 600;
  font-size: 18px;

  margin: 2rem 0;
}

.appButton {
  background: var(--primary);
  border-radius: 10px;

  width: 3rem;
  height: 3rem;
  
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
  cursor: pointer;
}

.appButton:hover {
  background: var(--secondary);
}

.appButton img {
  width: 1.5rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(268deg) brightness(105%) contrast(102%);
}

.serviceInformation {
  height: 100%;
  background: var(--white);
  color: #788c94;
  margin: 0 -2rem -1rem;
  padding: 2rem;

  margin-top: auto;
}

.serviceInformationHeader {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  color: var(--primary);
  font-family: "Gotham";
  font-size: 20px;
  font-weight: 600;
}

.serviceInformationHeader img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.serviceInformation strong {
  font-family: "Gotham";
}

.divisory {
  width: calc(100% + 5rem);
  height: 2px;

  margin: 1rem -2rem;

  background: #f3f7f9;
}

.sat img {
  position: absolute;
  width: 15rem;

  transform: rotate(40deg);

  left: -8rem;
  top: 5%;

  animation-name: helloSat;
  animation-duration: 1.5s;
}

@keyframes helloSat {
  from {
    opacity: 0;
    transition: .5s;
  }
  to {
    opacity: 1;
  }
}

.message {
  position: absolute;
  left: 7%;
  top: 15%;

  max-width: 20rem;

  background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 1.25em;
  font-family: "Roboto";
	border-radius: 1rem;
  box-shadow: 0 12px 24px rgba(0,0,0,.0236287);
}

.message::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: -1rem;
  bottom: 1.5rem;
	border: .75rem solid transparent;
  transform: rotate(270deg);
	border-top: none;

	border-bottom-color: #fff;
	filter: drop-shadow(0 12px 24px rgba(0,0,0,.0236287));
}

@media (max-width: 1600px) {
  .message {
    left: 8%;
  }
}

@media (max-width: 1500px) {
  .message {
    left: 9%;
  }
}

@media (max-width: 1300px) {
  .phone {
    margin-left: 15rem;
  }

  .message {
    left: 11%;
  }
}

@media (max-width: 1200px) {
  .sat img,
  .message {
    display: none;
  }

  .phone {
    margin-left: 0;
  }
}

@media (max-height: 800px) {
  .phone {
    height: 600px;
    width: 350px;
  }
}