.overlay::-webkit-scrollbar {
  width: 0px;
}

.overlay {
  background: rgba(242, 243, 245, 0.8);
  /* display: block; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 9999;
  overflow-y: auto;

  /* 
  Se der algum problema no tamanho
  do container,comentar o CSS abaixo 
  */

  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-animation: background-in 0.3s ease-out;
  animation: background-in 0.3s ease-out;
}

.overlayTwo {
  background: rgba(242, 243, 245, 0.8);
  /* display: block; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 9999;
  overflow-y: auto;

  /* 
  Se der algum problema no tamanho
  do container,comentar o CSS abaixo 
  */

  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-animation: background-out 0.3s ease-out;
  animation: background-out 0.3s ease-out;
}

.container {
  background: var(--white);
  width: 100%;
  max-width: 500px;
  margin: 3rem auto;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  position: relative;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  -webkit-animation: scale-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation: scale-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.containerAlt {
  background: var(--white);
  width: 100%;
  max-width: 400px;
  margin: 3rem auto;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  -webkit-animation: fade-out 0.3s ease-out;
  animation: fade-out 0.3s ease-out;
}

.closeButton {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: 0;
  font-size: 0;
}

.triggerHeader {
  background: var(--primary);
  color: var(--white);
  font-size: 16px;
  font-family: "Roboto";

  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  padding: 1rem 2rem;
}

.triggerHeader>img {
  margin-right: 0.5rem;
  width: 20px;
  margin-right: 1rem;
}

.userIcon {
  width: 3rem;
  border-radius: 50%;
}

.triggerBody {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.triggerBody>div:nth-child(2) {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.triggerBody>div:nth-child(2)>span:first-child {
  font-family: "Raleway";
  margin-right: 5px;
}

.km {
  font-family: "Roboto";
  margin-right: 1rem;
}

.triggerButton {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services {
  margin-right: 0.5rem;
  font-family: "Gotham";
  font-size: 14px;
  font-weight: 600;

  background: #0094cc;
  color: var(--white);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;

  cursor: default;
}

.distance {
  margin-right: 0.5rem;
  font-family: "Gotham";
  font-size: 14px;
  font-weight: 600;

  background: var(--primary);
  color: var(--white);
  padding: 0.3rem;
  border-radius: 5px;

  cursor: default;
}

.signal {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 0.5rem;
  padding: 0.2rem;
  border-radius: 5px;

  background: var(--terciary);
}

.signal img {
  width: 20px;
}

.disponibilty {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 0.5rem;
  padding: 0.2rem;
  border-radius: 5px;

  background: #00C853;
}

.disponibilty img {
  width: 20px;
}

.working {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 0.5rem;
  padding: 0.2rem;
  border-radius: 5px;

  background: #00C853;
}

.working img {
  width: 20px;
}

.triggerButton button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: #00C853;
  color: var(--white);

  transition: all 0.5s ease;
}

.triggerButton button:hover {
  background: #0c8c41;
}

@keyframes scale-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes background-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes background-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  .overlay {
    display: block;
  }

  .container {
    width: 90%;
    min-height: auto;
  }
}