.postblog {
  background:  #F5F8F9;
}

.container {
  height: auto;
  width: 1232px;
  max-width: 1232px;
  max-height: 1100px;
  margin: 0 auto;
  padding: 5rem 2.5rem;

}

/* .items {
  scroll-behavior: smooth;
  scrollbar-width: none;
  justify-content: center;
}

.items::-webkit-scrollbar {
  display: none;
} */

/* MEDIAS */

@media (max-width: 1366px) {
  .container {
    max-width: 900px;
  }

}

@media (max-width: 768px) {
  .container {
    padding: 2rem 1.5rem;
  }

  .container section {
    grid-template-columns: 1fr;
  }

  .itensWrapper {
    width: 100%;
  }
}