.report {
  background: var(--white);
}

.container {
  position: relative;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 2.5rem 5rem;

  display: flex;
  flex-direction: column;
  z-index: 1;
}

.container section {
  min-height: 600px;
  max-height: 600px;
  flex: 1 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;
}

.reportInfo h2 {
  color: var(--secondary);
  margin: 1rem 0 2rem;
}

.reportInfo p {
  height: calc(100% + 1rem);
}

.animate {
  animation-name: animateOne;
  animation-duration: 1.5s;
}

.animateTwo {
  animation-name: animateTwo;
  animation-duration: 1.5s;
}

@keyframes animateOne {
  from {
    opacity: 0;
    transition: .3s;
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes animateTwo {
  from {
    opacity: 0;
    transition: .3s;
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.animateOpacity {
  animation-name: opacity;
  animation-duration: 2s;
}

.animateOpacityTwo {
  animation-name: opacityTwo;
  animation-duration: 2s;
}

@keyframes opacity {
  from {
    opacity: 0.3;
    transition: .3s;
    transform: translate3d(900px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes opacityTwo {
  from {
    opacity: 0.3;
    transition: .3s;
    transform: translate3d(900px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.reportInfo p {
  width: 80%;
  color: var(--textAlt);
  line-height: 150%;
  margin: 2rem 0 3rem;
}

.actionButtons {
  display: flex;
}

.buttonBack {
  width: 3rem;
  height: 3rem;

  background: rgba(10, 147, 201, 0.14);
  border-radius: 50%;

  margin-right: 1rem;
  transition: all 0.3s ease;
}

.buttonBack img {
  margin-top: 3px;
}

.buttonNext img {
  margin-top: 3px;
}

.buttonBack:hover {
  background: var(--secondary);
}

.buttonBack:active {
  transform: scale(1.1);
}

.buttonNext {
  width: 3rem;
  height: 3rem;

  background: var(--primary);
  border-radius: 50%;
  box-shadow: 0px 5px 19px rgba(10, 147, 201, 0.25);

  transition: all 0.3s ease;
}

.buttonNext:hover {
  background: var(--terciary);
}

.buttonNext:active {
  transform: scale(1.1);
}

.imageContainer {
  width: 800px;
  margin-right: -800px;
  position: relative;
}

.imageContainer img {
  width: 100%;
}

.element {
  position: absolute;
  z-index: -1;
}

.elementOne {
  bottom: 25%;
  left: 30%;
}

.elementTwo {
  top: 10%;
  left: 30%;
}

.elementThree {
  bottom: 0;
  right: 0;
}

@media (max-width: 1366px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .report {
    height: 100%;
  }

  .container {
    padding: 2rem 1.5rem;
  }

  .container section {
    grid-gap: 2rem;
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  .imageContainer {
    width: 100%;
    margin-right: 0;
  }

  .imageAlt {
    display: none;
  }

  .element {
    width: 3rem;
  }
}