.system {
  background: var(--secondary);
}

.container {
  position: relative;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 2.5rem 5rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  gap: 4rem;
  align-content: center;
  align-items: center;
}

.container section>div:first-of-type {
  position: relative;
}

.systemDashboard {
  width: 1200px;
  position: relative;
  margin-left: -700px;
  position: relative;
  border-radius: 40px;
}

.dashCard,
.dashCardAlt {
  transition: all 0.5s ease;
}

.dashCard:hover,
.dashCardAlt:hover {
  transform: scale(1.1);
}

.dashCard {
  position: absolute;
  left: 60%;
  top: 0%;
}

.dashCardAlt {
  position: absolute;
  left: 60%;
  top: 22%;
}

.systemInfo h2 {
  color: var(--white);
  margin: 1rem 0 2rem;
}

.systemInfo p {
  color: var(--textAlt);
  line-height: 150%;
  margin: 2rem 0 3rem;
}

.button {
  margin-top: 1rem;
}

.button a {
  background: var(--primary);
  color: var(--white);
  box-shadow: 0px 5px 19px rgba(10, 147, 201, 0.25);
  border-radius: 8px;

  padding: 1rem;
  font-family: "Roboto Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-right: 1rem;

  white-space: nowrap;
}

.button a:hover {
  background: var(--terciary);
}

.element {
  position: absolute;
  opacity: 0.4;
}

.elementOne {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.elementTwo {
  position: absolute;
  top: 10%;
  right: -8%;
}

.elementThree {
  position: absolute;
  top: 20%;
  right: 20%;
}

@media (max-width: 1366px) {
  .container {
    max-width: 900px;
  }

  .systemDashboard {
    margin-left: -900px;
  }

  .dashCard {
    left: 30%;
  }
  
  .dashCardAlt {
    left: 30%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 1.5rem;
  }

  .container section {
    grid-template-columns: 1fr;
  }

  .systemInfo {
    order: -1;
    margin-bottom: 2rem;
  }

  .systemDashboard {
    width: 100%;
    margin-left: 0;
    border-radius: 20px;
  }

  .dashCard,
  .dashCardAlt {
    display: none;
  }

  .element {
    width: 3rem;
  }
}