.testimonial {
  /* background: rgba(223, 230, 236, 0.3); */
  background: url(/elements/background-testimonial.png) center no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10rem 2.5rem;

  display: flex;
  flex-direction: column;
  z-index: 1;
}

.container section {
  flex: 1 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  gap: 2rem;
  align-content: center;
  align-items: center;
}

.container>section>div>img {
  width: 900px;
  position: relative;
  margin-left: -500px;
  position: relative;
  border-radius: 40px;
}

.testimonialInfo h2 {
  width: 80%;
  margin: 1rem 0 2rem;
}

.actionButtons {
  display: flex;
}

.buttonBack {
  width: 3rem;
  height: 3rem;

  background: rgba(10, 147, 201, 0.14);
  border-radius: 50%;

  margin-right: 1rem;
  transition: all 0.3s ease;
}

.buttonBack:hover {
  background: var(--secondary);
}

.buttonBack:active {
  transform: scale(1.1);
}

.buttonNext {
  width: 3rem;
  height: 3rem;

  background: var(--primary);
  border-radius: 50%;
  box-shadow: 0px 5px 19px rgba(10, 147, 201, 0.25);

  transition: all 0.3s ease;
}

.buttonNext:hover {
  background: var(--terciary);
}

.buttonNext:active {
  transform: scale(1.1);
}

.buttonBack img {
  margin-top: 3px;
}

.buttonNext img {
  margin-top: 3px;
}

.itensWrapper {
  width: calc(100% + 2rem);
  min-height: 100%;
  overflow-x: hidden;
}

.items {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.items::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1366px) {
  .container {
    max-width: 900px;
  }

  .testimonialInfo h2 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 1.5rem;
  }

  .container section {
    grid-template-columns: 1fr;
  }

  .itensWrapper {
    width: 100%;
  }
}