.trial {
  background: rgba(223, 230, 236, 0.3);
}

.container {
  position: relative;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 2.5rem 5rem;

  display: flex;
  flex-direction: column;
  z-index: 1;
}

.container section {
  flex: 1 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  gap: 2rem;
  align-content: center;
  align-items: center;
}

.container>section>div:first-child {
  position: relative;
}

.trialImage {
  width: 1200px;
  position: relative;
  margin-left: -720px;
  position: relative;
  border-radius: 40px;
  filter: drop-shadow(10px 5px 40px rgba(0, 88, 123, 0.1));
}

.serviceContainer {
  position: absolute;
  left: -145%;
  top: 36%;
  filter: drop-shadow(10px 5px 40px rgba(0, 88, 123, 0.15));
}

.serviceContainer>div {
  position: relative;
}

.serviceContainer>div>img {
  width: 1200px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 88, 123, 0.3);
  }
  70% {
      -webkit-box-shadow: 0 0 0 30px rgba(0, 88, 123, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 88, 123, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 88, 123, 0.3);
    box-shadow: 0 0 0 0 rgba(0, 88, 123, 0.3);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(0, 88, 123, 0);
      box-shadow: 0 0 0 15px rgba(0, 88, 123, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 88, 123, 0);
      box-shadow: 0 0 0 0 rgba(0, 88, 123, 0);
  }
}

.triggerButton {
  position: absolute;
  right: 0;
  top: 16%;
  right: 24%;
}

.triggerButton button {
  background: #DADADA;
  color: var(--text);
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  font-size: 11px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
  animation: pulse 2s infinite;
}

.triggerButton button>img:first-child {
  width: 15px;
  margin-right: 7px;
  animation: spin 2s linear infinite;
}

.triggerButton button>img:last-child {
  width: 15px;
  margin-left: 15px;
}

.triggerButton button:hover {
  background: #b1afaf;
}

.triggerButtonAccepted {
  position: absolute;
  right: 0;
  top: 16%;
  right: 25%;

  display: flex;
}

.triggerButtonAccepted div {
  color: var(--white);
  font-size: 11px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
}

.triggerButtonAccepted div:first-child {
  background: #00CD6B;
  padding: 0.4rem 2rem 0.4rem 0.4rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.triggerButtonAccepted div>img {
  width: 15px;
}

.triggerButtonAccepted>div:first-child img{
  margin-right: 5px;
}

.triggerButtonAccepted div:last-child {
  background: #ECECEC;
  padding: 0.4rem 0.5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes appear {
  0% {
    transform: translateY(200px);
    transition: .1s;
  }
  100% {
    transform: translateY(0);
    transition: .1s;
  }
}

.sat {
  display: none;
  position: fixed;
  bottom: -5rem;
  right: 10%;
  animation-name: appear;
  animation-duration: 1s;

  z-index: 999;
}

.sat img {
  width: 10rem;
}

.message {
  position: absolute;
  left: -20rem;
  top: -4rem;

  width: 20rem;
  background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 1.25em;
  font-family: "Roboto", sans-serif;
	border-radius: 1rem;
  box-shadow: 0 12px 24px rgba(0,0,0,.0236287);
}

.message::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	right: -1rem;
  bottom: 1.5rem;
	border: .75rem solid transparent;
  transform: rotate(90deg);
	border-top: none;

	border-bottom-color: #fff;
	filter: drop-shadow(0 12px 24px rgba(0,0,0,.0236287));
}

.immersionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0;
}

.immersionButtons button {
  padding: 1rem 1.5rem;
  border-radius: 8px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;

  transition: all 0.3s ease;
}

.immersionButtons button:first-child {
  margin-right: 0.5rem;
  background: #ff4545;
  color: var(--white);
}

.immersionButtons button:first-child:hover {
  background: #cc2f2f;
}

.immersionButtons button:last-child {
  margin-right: 0.5rem;
  background: var(--primary);
  color: var(--white);
}

.immersionButtons button:last-child:hover {
  background: var(--terciary);
}

.trialInfo h2 {
  width: 80%;
  color: var(--secondary);
  margin: 1rem 0 2rem;
}

.trialInfo p {
  color: var(--textAlt);
  line-height: 150%;
  margin: 2rem 0 3rem;
}

.actionButtons {
  display: flex;
  margin-bottom: 3rem;
}

.noRequirements {
  color: var(--textAlt);
  display: flex;
}

.noRequirements span {
  margin-right: 1rem;
}

.noRequirements span img {
  margin-right: 0.5rem;
}

.notification {
  position: fixed;
  top: 2%;
  left: 40%;
  background: var(--white);
  box-shadow: 10px 5px 40px rgb(0 88 123 / 20%);
  border-radius: 1rem;

  display: flex;
  align-items: center;

  padding: 1rem 2rem;

  animation-name: notify;
  animation-duration: 1.5s;
}

@keyframes notify {
  from {
    opacity: 0;
    transition: .3s;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.notificationInfo {
  display: flex;
  margin-right: 2rem;
}

.notificationInfo img {
  width: 3rem;
  margin-right: 1rem;
}

.notificationInfo div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notificationInfo div:last-child h5 {
  font-family: "Gotham";
  font-size: 15px;
  margin-bottom: 3px;
}

.notificationInfo div:last-child span {
  font-family: "Gotham";
  font-size: 13px;
  color: var(--text);
}

.acceptService {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-left: 2px solid #f3f7f9;
  padding-left: 1rem;
}

.acceptService button {
  background: none;
  font-family: "Gotham Bold";
  color: var(--primary);
}

.divider {
  width: 100%;
  height: 2px;
  background: #f3f7f9;
  margin: 0.5rem 0;
}

.element {
  position: absolute;
  z-index: 5;
}

.elementOne {
  top: 20%;
  right: -10%;
}

.elementTwo {
  bottom: 20%;
  right: 5%;
}

@media (max-width: 1366px) {
  .container {
    max-width: 900px;
  }

  .trialImage {
    margin-left: -820px;
  }

  .serviceContainer {
    left: -210%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 1.5rem;
  }

  .container section {
    grid-template-columns: 1fr;
  }

  .container>section>div:last-child {
    order: -1;
  }

  .trialImage {
    width: 100%;
    margin-left: 0;
  }

  .serviceContainer {
    position: absolute;
    left: 0;
    top: 36%;
    filter: drop-shadow(10px 5px 40px rgba(0, 88, 123, 0.15));
  }
  
  .serviceContainer>div>img {
    display: none;
  }

  .triggerButton {
    display: none;
  }

  .trialInfo h2 {
    width: 100%;
  }

  .sat {
    display: none;
  }

  .element {
    width: 3rem;
  }

  .elementOne {
    right: 5%;
    top: 35%;
  }

  .elementTwo {
    bottom: -10%;
    left: 5%;
  }
}
