* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0A93C9;
  --secondary: #152F39;
  --terciary: #FF9945;
  --title: #333;
  --text: #666;
  --textAlt: #7E9AB4;
  --white: #fff;
  --disabled: #BECDDA;
}

::selection {
  background: var(--terciary);
  color: var(--white);
}

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
  font-family: 'Raleway Regular';
  src: url("/fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Gotham';
  src: url("/fonts/Gotham/GothamBook.ttf");
}

@font-face {
  font-family: 'Gotham Light';
  src: url("/fonts/Gotham/GothamLight.ttf");
}

@font-face {
  font-family: 'Gotham Bold';
  src: url("/fonts/Gotham/GothamBold.ttf");
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  background: var(--white);
  font-size: 15px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  line-height: 45px;
  color: var(--title);
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--text);
  line-height: 24px;
}

button {
  outline: none;
  border: none;
}

button, a {
  cursor: pointer;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

textarea {
  resize: none;
}

.container {
  height: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem 2.5rem;

  display: flex;
  flex-direction: column;
}

@media (max-width: 1366px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 40px;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 2.5rem 1rem;
  }
}

@media (max-width: 360px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 30px;
  }
}

