.container {
  position: relative;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem 2.5rem;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
}

.header img {
  width: 100%;
  max-width: 400px;
}

.terms h1 {
  font-size: 30px;
  text-align: center;

  margin: 2rem 0
}

.terms p,
.terms ol {
  margin-bottom: 1rem;
}

.terms li {
  list-style: unset;
  margin-left: 4rem;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--text);
  line-height: 24px;
}

@media (max-width: 1366px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 1.5rem;
  }
}