.button {
  margin-top: 1rem;
}

.button a {
  background: var(--primary);
  color: var(--white);
  box-shadow: 0px 5px 19px rgba(10, 147, 201, 0.25);
  border-radius: 8px;

  padding: 1rem;
  font-family: "Roboto Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-right: 1rem;

  white-space: nowrap;
}

.button a:hover {
  background: var(--terciary);
}