.button {
  margin-top: 1rem;
}

.button a {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 8px;

  padding: 1rem;
  font-family: "Roboto Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  cursor: pointer;

  white-space: nowrap;
}

.button a:hover {
  background: var(--primary);
  color: var(--white);
}