.card {
  padding: 1rem;

  display: flex;
  flex-direction: column;

  z-index: 999;
}

.card div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 75px;
  height: 75px;

  background: rgba(223, 230, 236, 0.3);
  border-radius: 10px;

  margin-bottom: 1rem;
}

.card div img {
  transition: all 0.5s ease;
}

.card div img:hover {
  transform: scale(1.12);
}

.card h2 {
  font-size: 24px;
  line-height: 32px;
  color: var(--secondary);

  margin-bottom: 1rem;
}

.card p {
  color: var(--textAlt);
  font-size: 16px;
  line-height: 150%;
}

@media (max-width: 1366px) {
  .card h2 {
    font-size: 20px;
  }

  .card p {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .card {
    min-width: 200px;
  }
}