.card {
  flex: none;
  height: 35rem;
  max-height: 35rem;
  width: 23.2rem;
  max-width: 23.2rem;
  background: var(--white);
  box-shadow: 10px 5px 40px rgba(0, 88, 123, 0.1);
  border-radius: 25px;
  padding: 0;
  margin: 2.5rem;
  cursor: pointer;
  scroll-snap-align: start;
}
