.card {
  flex: none;
  width: 30rem;
  max-width: 30rem;
  background: var(--white);
  box-shadow: 10px 5px 40px rgba(0, 88, 123, 0.1);
  border-radius: 20px;
  padding: 3rem;
  margin-right: 5rem;
  cursor: pointer;

  scroll-snap-align: start;
}

.cardInfo {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.cardInfo img {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.cardInfo>div>h3 {
  font-size: 30px;
  line-height: normal;
  color: var(--secondary);

  margin-bottom: 0.5rem;
}

.cardInfo>div>span {
  font-family: "Raleway Regular";
  font-size: 20px;
  color: var(--primary);
}

.cardText p {
  font-family: "Raleway Regular";
  font-size: 18px;
  line-height: 22px;
  color: var(--secondary);
}

@media (max-width: 1366px) {
  .card {
    max-width: 100%;
    padding: 2rem;
  }

  .cardInfo>div>h3 {
    font-size: 25px;
  }

  .cardInfo>div>span {
    font-size: 18px;
  }

  .cardText p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
    padding: 2rem;
  }
}